<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Suppress all logs except for errors -->
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="ERROR"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="ERROR"/>
    <logger name="org.hibernate.engine.jdbc.connections.internal.DriverManagerConnectionProviderImpl" level="ERROR"/>
    <logger name="org.hibernate.engine.jdbc.dialect.internal.DialectFactoryImpl" level="ERROR"/>
    <logger name="org.hibernate.engine.transaction.jta.platform.internal.JtaPlatformInitiator" level="ERROR"/>
    
    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>